<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devops.platform.infrastructure.outbound.database.dao.ProjectContactDao">

    <insert id="insertAll">
        INSERT INTO project_contact (project_id, first_name, last_name, mail)
        VALUES
        <foreach collection="contacts" item="contact" separator=",">
            (#{projectId},
            #{contact.firstName},
            #{contact.lastName},
            #{contact.mail}
            )
        </foreach>
    </insert>

    <select id="findAllByProjectId" resultMap="projectContactResultMap">
        SELECT first_name,
               last_name,
               mail
        FROM project_contact
        WHERE project_id = #{projectId}
    </select>

    <resultMap id="projectContactResultMap" type="devops.platform.domain.models.ProjectContact">
        <constructor>
            <arg column="first_name" javaType="java.lang.String"/>
            <arg column="last_name" javaType="java.lang.String"/>
            <arg column="mail" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

</mapper>